h1 {
    text-align: center;
}


.search-form {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.search-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.reset-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

.form__group-date {
    display: inline-block;
}

.delete-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;

}
