.contacts__data {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

.contacts__data th,
.contacts__data td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inner__Wrap {
    max-width: 1230px;
    padding: 20px;
}

h1 {
    text-align: center;
}

.search__form {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    background-color: #efe8d9;
    border: 1px solid #ccc;
}

.form__group {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.form__group input {
    width: 25%;
    height: 30px;
}

.form__group-name,
.form__group-date {
    margin-right: 10%;
}

.form__group-gender {
    margin-left: 50px;
}

.form__group-gender label {
    margin-right: 10px;
}

label {
    font-size: 18px;
    margin-right: 25px;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
    vertical-align: baseline;
    margin-right: 5px;
}

.search__button-center {
    text-align: center;
}

.search__button {
    width: 13%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.reset__button-center {
    font-size: 14px;
    text-align: center;
}

.reset__button-center a {
    color: rgb(75, 69, 72);
}

/* svg.w-5.h-5 {
    width: 30px;
    height: 30px;
} */

.delete__button {
    background-color: black;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* .pagination {
    float: right;
} */
thead {
    border-bottom: 1px solid #ccc;
}

.form__group input[type="date"] {
    width: 25%;
    height: 30px;
}

.form__group-date {
    text-align: center;
}

.form__group__date-between {
    margin: 0 20px;
}

