.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: black;
    color: white;
    font-weight: bold;
}

.card-body {
    padding: 10px;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
}

.invalid-feedback {
    display: block;
    color: #dc3545;
    font-size: 14px;
}

.btn-primary {
    background-color: black;
    border-radius: 4px;
    border: none;
    padding: 5px 15px;
    color: white;
}

.btn-link {
    color: #206ec1;
    text-decoration: none;
    font-weight: bold;
}
